*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}

.container{
    background-color: #EE8C8C;
    padding: 20px;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    margin-top: 30px;

}
h1{
    font-size: 2.5em;
    text-align: center;
}
label{
    font-size: 1.5em;
}

#userInput{
    max-width: 70px;
    font-size: 1.3em;
    text-align: center;
    border:none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    margin: 10px;
    padding: 5px;
}
button{
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #8EB0EC;
    color: white;
    font-size: 1.1em;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    
}
.parent-container{
    display: flex;
    justify-content: center;
}
button:hover{
    background-color: hsl(218, 71%, 54%);
}
button:active{
    background-color: hsl(218, 71%, 84%);
}

#diceResult{
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
    text-shadow: 4px 4px 10px rgba(0,0,0,0.1);
    

}

#diceImage img{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    width: 100px;
    margin: 10px;
    
}
#diceImage{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
body{
    background-color: #C2D5F5;
}